@use './Components/organisms/header';
@use 'fonts';
@use './Components/Pages/your-car';
@use './Components/Pages/your-job';
@use './Components/Pages/last-thing';
@use './Components/Pages/your-deductible';
@use './Components/organisms/recap';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font: 100% fonts.$font-stack;
  color: fonts.$G900;
}

.title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.02em;
  text-align: left;
}

.next-button {
  display: flex;
  .MuiButton-root {
    background-color: #F45B69;
    text-transform: capitalize;
    margin-top: 32px;
    color: #FFFFFF;
    position: relative;

    &:hover {
      background-color: #F45B69;
    }
  }
  
  .form-error-helper {
    margin-top: 43px;
    margin-left: 10px;
    color: #d32f2f;
  }
}